h1,
h2 {
    margin: 50px 0;
}

.haut-gauche {
    background: DeepPink;
}

.haut-droit {
    background: LightSeaGreen;
}

.haut-titre {
    font-size: 2.8rem;
    margin-bottom: 150px;
}

.haut-img-cont {
    background: white;
    -webkit-box-shadow: 0px 10px 89px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow: 0px 10px 89px 0px rgba(50, 50, 50, 1);
    box-shadow: 0px 10px 89px 0px rgba(50, 50, 50, 1);
}

.mycard-title {
    min-height: 70px;
    padding-top: 10px;
}

.mycard-desc {
    height: 50px;
    overflow: hidden;
}

.mycard-price {
    position: absolute;
    background: DeepPink;
    color: white;
    top: -30px;
    right: 10px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mycard-price .price {
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
}


/***************** DETAIL-PAGE ********************/

.myDetail {
    background: black;
    opacity: 0.5;
}

.myImg {
    height: 93vh;
    padding: 20px;
}

.price {
    background: deeppink;
}